<!DOCTYPE html>
<html>
  <head>
    <title>Help Page</title>
    <style>
      body {
        font-family: Arial, sans-serif;
        background: linear-gradient(150deg, #FFFFFF, #FFFFFF 55%, #00FF00);
      }


      h1 {
        color: #333;
        text-align: center;
        margin-top: 50px;
      }

      p {
        font-size: 16px;
        line-height: 1.5;
        color: #666;
        margin: 20px;
      }

      ul {
        list-style-type: disc;
        margin-left: 40px;
      }

      li {
        margin-bottom: 10px;
      }

      a {
        color: #337ab7;
        text-decoration: none;
        border-bottom: 1px dotted #337ab7;
      }

      a:hover {
        color: #23527c;
        border-bottom: 1px solid #23527c;
      }

      .logo {
        position: absolute;
        top: 20px;
        right: 20px;
        width: 100px;
      } 
      .question {
  font-size: 18px;
  font-weight: bold;
}

      /* new container div */
      .container {
        max-width: 95%;
        margin: 0 auto;
        padding: 20px;
        background-color: #fff;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        border-radius: 10px;
             background: linear-gradient(160deg, #FFFFFF, #FFFFFF 70%, #00FF00);
             
      }
    </style>
  </head>
  <body>
    <div class="container">
      <img class="logo" src="https://i.pinimg.com/originals/36/69/ed/3669ed1bdbc3b511ecbb24ab1232dd2d.png" alt="Logo">
      <h1>Help Page</h1>
      <p>Welcome to our help page. Here you can find answers to all the problems that you are facing while using our websisite:</p>
       <ul>
        <li> <span class="question" >How do I create an account? </span>
          <ul>
            <li>Go to our website's homepage</li>
            <li>Click on the "Sign Up" button in the top right corner</li>
            <li>Fill out the registration form with your details</li>
            <li>Submit the form and verify your email address</li>
          </ul>
        </li>
        <li><span class="question" > How to search crop on website </span>
          <ul>
            <li>you can use the search bar </li>
            <li>and you will get the results</li>
         
          </ul>

        </li>
        <li> <span class="question" >How to add a crop by our own </span>
          <ul>
            <li>On the home page above there is a option add crop</li>
            <li>There you can add your own crop and it will display on the website</li>
          
          </ul>
        </li>
        <li> <span class="question" >How to browse information of different categories of crops </span>
          <ul>
            <li>Click on the learn more of slider given on first page </li>
            <li>then you will see different categories of the crop on which you have clicked on home page   </li>
          
          </ul>
        </li>
        <li> <span class="question" >where we can see fertilizers for the crop </span>
          <ul>
            <li>The fertilizers and its application are given on the pages  </li>
            <li>where you see detailed information of the crop .  </li>
          
          </ul>
        </li>



      </ul>
       <p> If you cannot find the answer to your problem, please  <a href="mailto:prathameshkhandare15@gmail.com">Contact Us</a></p>
         </p>
   
    </div>
    

  </body>
</html>
